<div class='container mx-auto p-5 bg-white'>
  <div class='overflow-x-auto'>
    <table class='min-w-full table-auto shadow-sm rounded'>
      <thead class='bg-gray-100 text-gray-700'>
        <tr>
          <th class='px-4 py-2 text-left  max-w-10 min-w-5'>
            ID
          </th>
          <th class='px-4 py-2 text-left'>
            Username
          </th>
          <th class='px-4 py-2 text-left'>
            Tên sản phẩm
          </th>
          <th class='px-4 py-2 text-left'>
            Số lượng sản phẩm
          </th>
        </tr>
      </thead>
      <tbody class='text-gray-800'>
        {{#each cartItems}}
          <tr class='hover:bg-gray-50'>
            <td class='px-4 py-2  max-w-10 min-w-5'>
              {{this.id}}
            </td>
            <td class='px-4 py-2'>
              {{this.username}}
            </td>
            <td class='px-4 py-2'>
              {{this.product_id.name}}
            </td>
            <td class='px-4 py-2'>
              {{this.quantity}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>