<footer class='bg-custom-green p-8'>
  <div class='max-w-7xl mx-auto'>
    <div
      class='flex flex-row items-center justify-between pb-2 border-b-2 border-custom-green'
    >
      <div class='flex items-center justify-center'>
        <a href='/' class='flex items-center'>
          <img src='/img/logo.png' alt='Logo' class='w-24 h-auto' />
        </a>
      </div>
      <div class='md:w-2/3 flex justify-end items-center space-x-4'>
        <span class='mr-2'>
          Kết nối với chúng tôi:
        </span>
        <a href='#' class='text-gray-700 hover:text-green-600'>
          <i class='fab fa-facebook-f'></i>
        </a>
        <a href='#' class='text-gray-700 hover:text-green-600'>
          <i class='fab fa-instagram'></i>
        </a>
      </div>
    </div>
    <div class='grid grid-cols-1 md:grid-cols-3 gap-8 pt-6'>
      <div>
        <h6 class='font-bold mb-3'>
          VỀ CHÚNG TÔI
        </h6>
        <ul class='space-y-2 text-custom-base font-normal'>
          <li>
            Giới thiệu
          </li>
          <li>
            Hệ thống cửa hàng
          </li>
          <li>
            Chính sách giao hàng
          </li>
          <li>
            Chính sách bảo hành
          </li>
        </ul>
      </div>
      <div>
        <h6 class='font-bold mb-3'>
          HỖ TRỢ KHÁCH HÀNG
        </h6>
        <ul class='space-y-2 text-custom-base font-normal'>
          <li>
            Liên hệ
          </li>
          <li>
            Hướng dẫn tạo tài khoản
          </li>
          <li>
            Hướng dẫn đặt hàng
          </li>
          <li>
            Quy định và hướng dẫn đổi trả
          </li>
        </ul>
      </div>
      <div>
        <h6 class='font-bold mb-3'>
          LIÊN HỆ
        </h6>
        <ul class='space-y-2 text-custom-base font-normal'>
          <li>
            Đặt hàng trực tuyến
          </li>
          <li>
            0961861796
          </li>
          <li>
            CSKH (8h-21h)
          </li>
          <li>
            thuylinh09052003@gmail.com
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>