<!-- Topbar -->
<nav class='fixed top-0 left-0 right-0 bg-white shadow-md z-40'>
  <div class='flex items-center justify-between px-4 md:px-6 h-16'>
    <!-- Sidebar Toggle (Mobile) -->
    <button
      id='sidebarToggleTop'
      class='text-gray-600 md:hidden focus:outline-none'
    >
      <i class='fa fa-bars text-xl'></i>
    </button>

    <!-- User Info -->
    <div class='relative ml-auto group'>
      {{#if sessionUser}}
        <button class='flex items-center space-x-2 focus:outline-none'>
          <img src='/img/undraw_profile.svg' class='w-8 h-8 rounded-full' />
          <span class='text-sm'>
            {{sessionUser}}
          </span>
        </button>
      {{/if}}
      <!-- Dropdown -->
      <div class='absolute top-full left-0 right-0 h-6 bg-transparent'></div>
      <div
        id='dropdownMenu'
        class='hidden group-hover:block absolute right-0 mt-1 bg-white text-black shadow rounded w-40 z-50'
      >
        <a href='/logout' class='block px-4 py-2 hover:bg-gray-100'>
          <i class='fas fa-sign-out-alt mr-2'></i>
          Đăng xuất
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- margin for fixed topbar -->
<div class='h-16'></div>