<div class='w-full min-h-[545px] flex items-center justify-center bg-gray-100'>
  <div class='text-center'>
    <h1
      class='text-[120px] font-extrabold text-gray-800 leading-none tracking-widest'
      data-text='404'
    >
      404
    </h1>
    <p class='mt-4 text-lg text-gray-600'>
      Xin lỗi! Trang bạn đang tìm không tồn tại.
    </p>
  </div>
</div>