<div class='min-h-screen w-[70%] flex items-center justify-center bg-gray-100'>
  <div
    class='w-full mx-auto bg-white shadow-lg rounded-lg overflow-hidden my-10'
  >
    <div class='md:flex'>
      <div class='hidden lg:block bg-cover bg-center'>
        <img src='/img/login.jpg' alt='Logo' class='w-[80%] h-auto mx-auto' />
      </div>
      <div class='w-full md:w-7/12 p-8'>
        <div class='text-center mb-6'>
          <h1 class='text-2xl font-bold text-gray-900'>
            Tạo tài khoản
          </h1>
        </div>

        {{#if messages.error}}
          <div class='bg-red-100 text-red-700 px-4 py-2 rounded mb-4'>
            {{messages.error}}
          </div>
        {{/if}}

        {{#if messages.success}}
          <div class='bg-green-100 text-green-700 px-4 py-2 rounded mb-4'>
            {{messages.success}}
          </div>
        {{/if}}

        <form method='post' action='register' class='space-y-4'>
          <div>
            <input
              type='text'
              name='name'
              placeholder='Nhập tên'
              class='w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-1'
            />
          </div>

          <div>
            <input
              type='email'
              name='email'
              placeholder='Nhập email'
              class='w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-1'
            />
          </div>

          <div class='flex flex-col md:flex-row gap-4'>
            <input
              type='password'
              name='password'
              placeholder='Nhặp mật khẩu'
              class='w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-1'
            />
            <input
              type='password'
              name='repeatPassword'
              placeholder='Nhập lại mật khẩu'
              class='w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-1'
            />
          </div>

          <button
            type='submit'
            class='w-full bg-btn bg-custom-green-hover text-white font-semibold py-2 rounded-lg transition duration-200'
          >
            Đăng ký
          </button>
        </form>

        <div class='text-center mt-4'>
          <a
            href='login'
            class='text-sm text-blue-600 no-underline hover:underline'
          >
            Đã có tài khoản? Đăng nhập!
          </a>
        </div>
      </div>
    </div>
  </div>
</div>