<div class='flex justify-center mt-8'>
  <div class='w-full max-w-4xl'>
    <div class='bg-white shadow-md rounded-lg p-6'>
      {{#if messages.error}}
        <div
          class='bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4'
        >
          {{messages.error}}
        </div>
      {{else if messages.success}}
        <div
          class='bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded mb-4'
        >
          {{messages.success}}
        </div>
      {{/if}}

      <form class='space-y-6' method='post' action='/admin/category/add'>
        <div>
          <label
            for='name'
            class='block text-custom-base text-black font-medium mb-1 ml-1'
          >
            Tên danh mục
            <span class='text-red-500'>
              *
            </span>
          </label>
          <input
            type='text'
            name='name'
            placeholder='Nhập tên danh mục'
            class='w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500'
          />
        </div>
        <div>
          <label
            for='upload'
            class='block text-custom-base font-medium text-black mb-1'
          >
            Hình ảnh
          </label>
          <input
            type='file'
            name='file'
            id='upload'
            class='w-full border rounded px-3 py-2 mb-2'
          />
          <div id='image_show' class='mb-2'></div>
          <input type='hidden' name='image_url' id='thumb' />
        </div>

        <button
          type='submit'
          class='w-full bg-btn bg-custom-green-hover text-white font-semibold py-2 px-4 rounded transition duration-200'
        >
          Thêm
        </button>
      </form>
    </div>
  </div>
</div>